<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射dao -->
<mapper namespace="com.fallen.parrot.mybatis.mapper.UserThirdAccessMapper">
    <resultMap id="accessWithUserResult" type="com.fallen.parrot.mybatis.entity.UserThirdAccessEntity">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="type" column="access_type" />
        <association property="user" javaType="com.fallen.parrot.mybatis.entity.UserEntity">
            <id property="id" column="user_id" />
            <result property="sex" column="sex" typeHandler="com.fallen.parrot.mybatis.enums.handle.UserSexHandle" />
            <result property="createAt" column="create_at" />
        </association>
    </resultMap>
    <select id="findByUserId" resultMap="accessWithUserResult">
        SELECT a.id,a.user_id,a.type AS access_type,a.openid,b.`name`,b.nick_name AS nickName,b.sex,b.phone,b.create_at
            FROM user_third_accesses a
            LEFT JOIN users b ON a.user_id=b.id
            WHERE a.user_id=#{userId} AND a.type=#{type} AND a.`status`=0 AND ISNULL(b.delete_at)
    </select>
</mapper>